/* Variables */

$text-logo: 'Wisdom Script', sans-serif;
$text-serif: 'Droid Serif', sans-serif;
$text-sans: 'Montserrat', sans-serif;
$text-desc: 'Roboto Slab', serif;

$font-1: 14px;
$font-2: 16px;
$font-3: 18px;
$font-4: 26px;
$font-5: 40px;
$font-6: 75px;

/* Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;   
}

section {
    padding: 100px 0;
}

.main-title {
    font-family: $text-sans;
    font-weight: 700;
    color: #222222;
    font-size: $font-5;
    margin-bottom: 20px;
}

.subtitle {
    font-family: $text-serif;
    color: #777777;
    font-style: italic;
    font-size: $font-2;
    margin-bottom: 80px;
}


/* Header*/

header {
    background-image: url("../images/header.jpg");
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;

    .container {
    
        .row {
            padding-top: 45px;
        
            .logo {
                font-size: $font-4;
                letter-spacing: 1.3px;
                font-family: $text-logo;
                color: #fed136; 
            }
        
            .menu {
            
                    list-style-type: none;
            
                a {
                    text-decoration: none;
                    font-family: $text-sans;
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    border-bottom: 1px solid rgba(0, 0, 0, 0);

                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }

    .row1 {
        text-align: center;
        color: #fff;
        padding-bottom: 100px;

        h3 {
            font-family: $text-serif;
            font-size: $font-5;
            font-style: italic;
        }

        h2 {
            font-family: $text-sans;
            font-size: $font-6;
            font-weight: 900;
            margin: 50px 0 60px;
        }

        .btn-one {
            background-color: #fed136;
            color: #fff;
            padding: 25px 50px;
            border: 0;
            font-family: $text-sans;
            font-weight: 700;
            font-size: $font-3;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            background-position: 100% 0;
            background-size: 300%;
            transition: all 1s;
            background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
            
            &:hover {
                background-position: 0 100%;
                color: #fed136;
            }
        }
    }
}

/* Services */

.services {

    text-align: center;

    .box-title {
        font-family: $text-sans;
        font-weight: 900;
        font-size: $font-3;
        color: #222222;
    }
    
    .text {
        font-family: $text-desc;
        font-weight: 500;
        font-size: $font-1;
        color: #777777 ;
    }
    

    #icon-basket {
        width: 40px;
    }

    img {
        display: block;
        
    }

    .image {
        border: 3px solid #fed136;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-bottom: 20px;
    }
}

/* Portfolio */

.portfolio {
    background-color: #f7f7f7;
    text-align: center;
    
    .card {
        background-color: #ffffff;
    }
    
    img {
        width: 100%;
    }

    .card-body {
        padding: 30px 15px;

        .box-title {
            color: #333333;
            font-family: $text-sans;
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 5px;
        }

        .text {
            color: #737373;
            font-family: $text-serif;
            font-size: 14px;
            font-style: italic;
        }
    }

}